*{
    margin: 0%;
}
#container{

    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.heart{
    height: 100px;
    width: 100px;
    background-color: maroon;
    transform: rotate(45deg);
    position: relative;
    animation: beat 1s linear infinite;
}
@keyframes beat {
    0%{
        transform: rotate(45deg) scale(1);
    }
    50%{
        transform: rotate(45deg)scale(1.5);
    }
    100%{
        transform: rotate(45deg)  scale(1);
    }
    
}
.heart::before,
.heart::after{
    content: "";
    border-radius: 50%;
    background-color: maroon;
    position: absolute;
    height: 100px;
    width: 100px;
}
.heart::before{
    top: -50px;
    left: 0px;
}
.heart::after{
    top: 0px;
    left: -50px;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }    
}