*{
    margin: 0;
}

#container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    animation: beat 1s ease-in-out infinite;
}

.heart{
    height: 100px;
    width: 100px;
    background-color: maroon;
    position: relative;
    transform: rotate(45deg);
}

.heart::before,
.heart::after{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: maroon;
    border-radius: 50%;
}

.heart::before{
    top: -50px;
    left: 0;
}

.heart::after{
    top: 0;
    left: -50px;
}

@keyframes beat{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.15);
    }

    100%{
        transform: scale(1);
    }
}
